<!-- <span > {{ asyncPostItem | async }} </span> -->
<mat-progress-bar mode="determinate" value="40" *ngIf = "progressBar"></mat-progress-bar>
<mat-spinner *ngIf = "progressBar" ></mat-spinner>
<mat-accordion multi="true" *ngIf = "!progressBar">
    <mat-expansion-panel>
            
        <mat-expansion-panel-header >

            Model Name: {{ asyncPostItemName | async }}

        </mat-expansion-panel-header>
        <p>Model Description : {{ asyncPostItemDescription | async }}</p>
        <p>Model Created : {{ asyncPostItemCreated | async }}</p>
        <p>Model Rating : {{ asyncPostItemRating | async }} </p>
        <p>Model ID: {{ asyncPostItemId | async }}</p>

      
        <mat-action-row>

            <div class = "buttons">
            <button class = "edits" mat-button color="primary" (click) = "onEdit()" >onEdit</button>
            <button class = "edits" mat-button color="warn" (click) = "onDelete()" >onDelete</button>
            </div>

        </mat-action-row>

        <mat-action-row class = "editArea" *ngIf = "editAreaNeeded">
                <span>
                        <input matInput placeholder="New Name" class = "editInput" [(ngModel)] = "newName">
                        <input matInput placeholder="New Description" class = "editInput" [(ngModel)] = "newDescription">
                        <button mat-button color ="default" (click) = "onSaveEdit()">onSave</button>
                </span>
        </mat-action-row>
        
        
    </mat-expansion-panel>

</mat-accordion>

<br>

<!-- mat lib not playing well w/ async,look at this later. -->
<!-- <div>

    <mat-accordion multi = "true">
        <mat-expansion-panel [routerLink] = "['/list', item.id]">
          <mat-expansion-panel-header *ngIf = "itemAvailabile" >
              <p > {{ asyncPostItemName | async }} </p>
               <p> {{ asyncPostItem.name | async }}</p>
          </mat-expansion-panel-header>
          <p> Test description {{ asyncPostItem  | async }} </p> -->
          <!-- <p> Test date created{{ asyncPostItemcreated | async }} </p>
          <p> Test rating {{ asyncPostItemrating | async }} </p>

          <app-post-create></app-post-create>

        </mat-expansion-panel>
    </mat-accordion>

</div> -->
