<!-- <span > {{ asyncPostItem | async }} </span> -->

<br>
<span > Model Name : {{ asyncPostItemName | async }} </span>
<br>
<span > Model Description : {{ asyncPostItemDescription | async }} </span>
<br>
<span > Model Created : {{ asyncPostItemCreated | async }} </span>
<br>
<span > Model Rating :{{ asyncPostItemRating | async }} </span>
<br>

<div class="row">
    <button class = "edits" (click) = "onEdit()">onEdit</button>
    <button class = "edits" (click) = "onDelete()" >onDelete</button>
</div>
<br><hr>

<!-- mat lib not playing well w/ async,look at this later. -->
<!-- <div>

    <mat-accordion multi = "true">
        <mat-expansion-panel [routerLink] = "['/list', item.id]">
          <mat-expansion-panel-header *ngIf = "itemAvailabile" >
              <p > {{ asyncPostItemName | async }} </p>
               <p> {{ asyncPostItem.name | async }}</p>
          </mat-expansion-panel-header>
          <p> Test description {{ asyncPostItem  | async }} </p> -->
          <!-- <p> Test date created{{ asyncPostItemcreated | async }} </p>
          <p> Test rating {{ asyncPostItemrating | async }} </p>

          <app-post-create></app-post-create>

        </mat-expansion-panel>
    </mat-accordion>

</div> -->
