<!-- classical form & reactive form showcased below -->

<p>App post create here!</p>
<div class="form">

<label>Name</label>
<input type="text" [(ngModel)] = "name" placeholder ="">
<label>Description</label>
<input type="text" [(ngModel)] = "description" placeholder ="">

<button (click) = "onClick(1)" > onclick </button>
<div>
    <button mat-stroked-button type = "button" (click) = "filePicker.click()">pickImageNL</button>
    <input type="file" #filePicker (change) = "onImageUpload($event)">
</div>

</div>

<br>
<hr>

<mat-card>

  <form [formGroup] = "form" (submit) = "onClick(2)">
    <mat-form-field>

      <input matInput
      formControlName = "name"
      type = "text"
      placeholder="Item Name">

      <mat-error *ngIf="form.get('name').invalid"> Please Enter a Name </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field>
        <textarea
        formControlName = "description"
        matInput
        placeholder="Item description"></textarea>

        <mat-error *ngIf="form.get('description').invalid"> This item needs a description</mat-error>

    </mat-form-field>
    <br>
    <button mat-stroked-button type = "button" (click) = "filePicker2.click()"> pickImageNL </button>

    <button
    mat-raised-button
    color = "default"
    type = "submit">Save Post</button>
    <input type= "file" #filePicker2 (change) = "onImageUpload($event)">

    <div class="image-preview" *ngIf = "imagePreview !== '' && imagePreview !== null && form.get('image').valid">
    <!-- no different than typing *ngIf="imagePreview" in place of 2nd (null)-->
      <img [src]="imagePreview" [alt] = "form.value.name">
    </div>
    </form>

</mat-card>

