<mat-toolbar color = "primary"> 
<span>
  <a routerLink = "/"> Testing Material  </a>
</span>
<span class = "spacer"></span>
<ul class = "row">
  <li a routerLink = "/home/posts/list" routerLinkActive = "mat-accent">posts</li>
</ul>
<ul class = "row">
    <li a routerLink = "/home/disregardone" routerLinkActive = "">create two</li>
  </ul>
  <ul class = "row">
      <li a routerLink = "/home/disregardtwo" routerLinkActive = "mat-accent">link3</li>
    </ul>
    <ul class = "row">
        <li a routerLink = "/home/account" routerLinkActive = "">account</li>
      </ul>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- NOT COMPLETE. Left to start work on item listing and logic. -->